.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    a {
        font-weight: bold;
        color: #2c3e50;
    }
}
  
.main-nav-logo {
    display: flex;
    align-items: center;
    &__image {
        max-width: 100%;
        width: 200px;
      }
}

.main-nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 0.5rem;
    svg {
        margin-right: 5px;
    }
    &:hover {
        text-decoration: underline;
    }
}