.nav-profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_setting {
        display: flex;
        align-items: center;
    }
    &_signin, .nav-setting-button {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 0.5rem;
        svg {
            margin-right: 5px;
        }
    }
}

.main-nav-logo {
    display: flex;
    align-items: center;
    &__image {
        max-width: 100%;
        width: 200px;
      }
}

.nav-profil_signin:hover, .nav-setting-button:hover {
    text-decoration: underline;
}

.nav-setting-content {
    display: flex;
    align-items: center;
    margin-right: 20px;
    h3 {
        margin-left: 5px;
        text-decoration: none;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    a {
        font-weight: bold;
        color: #2c3e50;
    }
}