.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 12%;
    &_title {
        text-align: center;
        h3 {margin-top: 0px;}
    }
    &_button {
        text-decoration: none;
        @include buttonempty;
        border-radius: 50px;
    }
}

.error-page_button:hover {
    @include buttonhoverempty;
}

// Full screen
@media (min-width: 1700px) {
    .error-page {
        margin: 30px 15%;
    }
}