.hero {
    display: flex;
    justify-content: space-between;
    background-color: $White;
    border-radius: 30px;
    margin: 0px 12%;
    padding: 5% 5%;
    height: 400px;
    &_title {
        display: flex;
        flex-direction: column;
        h1, h2 {
            color: $Blackgreen;
            text-align: left;
            margin: 0px;
        }
        .text-span {
            color: $Green02;
            font-weight: 500;
        }
    }
}

.hero_cards {
    position: relative;
    width: 60%;
    background-image: url('../../assets/background.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .cards:nth-child(1) {
        background-color: $Green02;
        position: absolute;
        right: 0px;
        z-index: 3;
    }
    .cards:nth-child(2) {
        background-color: $Green01;
        position: absolute;
        top: 140px;
        right: 80px;
        z-index: 2;
    }
    .cards:nth-child(3) {
        background-color: $Grey;
        position: absolute;
        right: 160px;
        top: 270px;
        z-index: 1;
       .cards_content_title, .cards_content_text {
            color: $Green01;
        }
        .icon {
            background-color: rgb(89, 173, 113, 0.3);
        }
    }
}

.hero_title h2 {
    font-weight: lighter;
    margin-top: 20px;
}

// Full screen
@media (min-width: 1700px) {
    .hero {
        margin: 0px 15%;
    }
}

// portable
@media (max-width: 650px) {
}