.hero {
    background-image: url('../../assets/bank-tree.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    &__content {
        position: relative;
        top: 2rem;
        width: 200px;
        background: white;
        padding: 2rem;
        text-align: left;
        margin: 0 auto;
        .subtitle {
            font-weight: bold;
            font-size: 1rem;
            margin: 0;
        }
        .text {
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    .feature__item {
        width: 30%;
        &__title {
            color: #222;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }
}

.feature-icon {
    width: 100px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
}


// tablette
@media (min-width: 920px) {
    .hero {
    height: 400px;
    background-position: 0% 33%;
    &__content {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
        .subtitle {
            font-size: 1.5rem;
        }
        .text {
                font-size: 1.2rem;
        }
    }
    }
}


// portable
@media (max-width: 650px) {
    .features {
        flex-direction: column;
        .feature__item {
            width: 100%;
        }
    }
    .feature-icon {
        width: 50px;
    }
}