.home-page {
    margin: 30px 12%;
    display: flex;
    justify-content: space-between;
    background-color: $White;
    border-radius: 30px;
    padding: 5% 5%;
    height: 400px;
    &_title {
        display: flex;
        flex-direction: column;
        h1, h3 {
            color: $Blackgreen;
            text-align: left;
            margin: 0px;
        }
        .text-span {
            color: $Green02;
            font-weight: 500;
        }
    }
}

.home-page_cards {
    position: relative;
    width: 50%;
    background-image: url('../../assets/background.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .cards:nth-child(1) {
        background-color: $Green02;
        position: absolute;
        right: 0px;
        z-index: 3;
    }
    .cards:nth-child(2) {
        background-color: $Green01;
        position: absolute;
        top: 140px;
        right: 80px;
        z-index: 2;
    }
    .cards:nth-child(3) {
        background-color: $Grey;
        position: absolute;
        right: 160px;
        top: 270px;
        z-index: 1;
       .cards_content_title, .cards_content_text {
            color: $Green01;
        }
        .icon {
            background-color: rgb(89, 173, 113, 0.3);
        }
    }
}

.home-page_title h3 {
    font-weight: lighter;
    margin-top: 20px;
}

// Full screen, extra large devices (large laptops and desktops, 1700px and up)
@media (min-width: 1700px) {
    .home-page {
        margin: 30px 15%;
    }
}

// Tablet version, medium devices (landscape tablets, between 600px and 1250px)
@media only screen and (min-width: 600px) and (max-width: 1250px) {
    .home-page {
        margin: 30px 5%;
        &_title {
            width: 40%;
        }
    }
}

// Mobile version, extra small devices (phones, 850px and down)
@media only screen and (max-width: 850px) {
    .home-page {
        flex-direction: column;
        margin: 30px 2%;
        height: auto;
        &_title {
            width: 100%;
        }
        &_cards {
            background-image: none;
            width: fit-content;
            position: inherit;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .cards:nth-child(n) {
                margin-bottom: 20px;
                position: inherit;
                right: auto;
                top: auto;
                z-index: auto;
            }
        }
    }
}