@import "../../styles/utils/mixins";

.signin-page {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: $White;
    width: 440px;
    height: fit-content;
    padding: 2rem;
    &_content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        h2, h3 {
            color: $Blackgreen;
            text-align: left;
            margin: 7px 0px;
        }
        h3 {
            font-weight: 400;
        }
        .text-span-signin {
            color: $Green02;
            font-weight: 500;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
        label {
            font-weight: 500;
            margin-bottom: 8px; 
        }
        input {
            @include inputfield;
        }
    }
}

.input-remember {
    label {
        margin-left: 0.25rem;
    }
    
}

.error-message {
    margin-top: 5px;
    color: red;
    font-weight: 500;
}

.sign-in-button {
    @include buttonfull;
    display: block;
    width: 100%;
    margin-top: 40px;
}

// Mobile version, extra small devices (phones, 550px and down)
@media only screen and (max-width: 550px) {
    .signin-page {
        margin: 5% 5%;
        width: unset;
    }
}