@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.user-page {
    padding: 0px 12%;
    background-color: #DDE2EA;
}

// Full screen
@media (min-width: 1700px) {
    .user-page {
        padding: 20px 15%;
    }
}