html {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

h1 {
  font-size: 45px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 35px;
  }
}
.nav-profil {
  margin: 20px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-profil_setting {
  background-color: white;
  display: flex;
  align-items: center;
}
.nav-profil_signin, .nav-profil .nav-setting-button {
  color: #244B30;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgba(36, 75, 48, 0.5);
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 0.5rem;
}
.nav-profil_signin img, .nav-profil .nav-setting-button img {
  margin-right: 10px;
}

.main-nav-logo {
  display: flex;
  align-items: center;
  mix-blend-mode: darken;
}
.main-nav-logo__image {
  max-width: 100%;
  width: 200px;
}

.nav-profil_signin:hover, .nav-setting-button:hover {
  border: 2px solid transparent;
  background-color: rgba(89, 173, 113, 0.5);
  color: #244B30;
}

.nav-setting-content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.nav-setting-content a {
  margin-left: 5px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #2c3e50;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

@media (min-width: 1700px) {
  .nav-profil {
    margin: 20px 15%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}
.footer .footer-text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
.account__content {
  width: 100%;
  flex: 1;
}
.account__content .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account__content .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__content .account-amount-description {
  margin: 0;
}

.transaction-button {
  border: transparent;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
  display: block;
  width: 200px;
  margin-top: 1rem;
}

@media (max-width: 650px) {
  .account {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-profil {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.header-profil_edit {
  display: flex;
  align-items: center;
}
.header-profil_edit .edit-button {
  border: 1px solid rgba(84, 87, 236, 0.5);
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 20px;
}
.header-profil_input {
  display: flex;
}
.header-profil_input input,
.header-profil_input button {
  border: 1px solid rgba(84, 87, 236, 0.5);
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-bloc1,
.input-bloc2 {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.input-bloc1 {
  align-items: flex-end;
}

.input-bloc2 {
  align-items: flex-start;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: -9px 10px 10px rgba(54, 54, 54, 0.1019607843);
  gap: 10px;
  padding: 15px 20px;
  width: 280px;
}

.cards_content {
  display: flex;
  flex-direction: column;
}
.cards_content_title {
  color: #FFFFFF;
  text-align: left;
  margin: 0px;
  font-weight: 500;
}
.cards_content_text {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0px 5px 0px;
}

.icon {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
}
.icon_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 25px;
  width: 25px;
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin: 0px 12%;
  padding: 5% 5%;
  height: 400px;
}
.hero_title {
  display: flex;
  flex-direction: column;
}
.hero_title h1, .hero_title h2 {
  color: #0D1117;
  text-align: left;
  margin: 0px;
}
.hero_title .text-span {
  color: #59AD71;
  font-weight: 500;
}

.hero_cards {
  position: relative;
  width: 60%;
  background-image: url("../../assets/background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero_cards .cards:nth-child(1) {
  background-color: #59AD71;
  position: absolute;
  right: 0px;
  z-index: 3;
}
.hero_cards .cards:nth-child(2) {
  background-color: #244B30;
  position: absolute;
  top: 130px;
  right: 80px;
  z-index: 2;
}
.hero_cards .cards:nth-child(3) {
  background-color: #F7F7F7;
  position: absolute;
  right: 160px;
  top: 260px;
  z-index: 1;
}
.hero_cards .cards:nth-child(3) .cards_content_title, .hero_cards .cards:nth-child(3) .cards_content_text {
  color: #244B30;
}
.hero_cards .cards:nth-child(3) .icon {
  background-color: rgba(89, 173, 113, 0.3);
}

.hero_title h2 {
  font-weight: lighter;
  margin-top: 20px;
}

@media (min-width: 1700px) {
  .hero {
    margin: 0px 15%;
  }
}
.color {
  color: white;
}

.bg-dark {
  background-color: #12002b;
  height: 100vh;
  position: relative;
}

.sign-in-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  padding: 2rem;
}
.sign-in-content .sign-in-icon {
  font-size: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form .input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
form .input-wrapper label {
  font-weight: bold;
}
form .input-wrapper input {
  border: 1px solid rgba(84, 87, 236, 0.5);
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
}

.input-remember label {
  margin-left: 0.25rem;
}

.sign-in-button {
  border: transparent;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.bg-light {
  background-color: #DDE2EA;
  height: 100vh;
  position: relative;
}

.main__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main__content__header {
  color: #2C3440;
  margin-bottom: 2rem;
}

.edit-button {
  border: 1px solid rgba(84, 87, 236, 0.5);
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.1rem;
}

@media (max-width: 650px) {
  .main__content {
    top: 60%;
  }
  .main__content__header {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=index.css.map */