html, body {
  background-color: #f3f3f3;
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 45px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

a {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 35px;
  }
}
.nav-profil {
  margin: 20px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-profil .main-nav-logo {
  display: flex;
  align-items: center;
  mix-blend-mode: darken;
}
.nav-profil .main-nav-logo__image {
  max-width: 100%;
  width: 200px;
}

.nav-profil_logout {
  display: flex;
  align-items: center;
}

.nav-profil_signin, .nav-setting-button {
  background-color: transparent;
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 50px;
  color: #244B30;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 0.5rem;
}
.nav-profil_signin:hover, .nav-setting-button:hover {
  border: 2px solid transparent;
  background-color: rgba(89, 173, 113, 0.5);
  color: #244B30;
}
.nav-profil_signin img, .nav-setting-button img {
  margin-right: 10px;
}

.nav-setting-content {
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #244B30;
}

@media (min-width: 1700px) {
  .nav-profil {
    margin: 20px 15%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}
.footer .footer-text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
}
.account__content {
  width: 100%;
  flex: 1;
}
.account__content .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account__content .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__content .account-amount-description {
  margin: 0;
}

.transaction-button {
  border: transparent;
  border-radius: 50px;
  background-color: #244B30;
  color: #FFFFFF;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 200px;
  margin-top: 1rem;
}
.transaction-button:hover {
  background-color: #59AD71;
  color: #FFFFFF;
}

.header-profil {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.header-profil_edit {
  display: flex;
  align-items: center;
}
.header-profil_edit h2 {
  font-weight: 500;
}
.header-profil_edit span {
  color: #59AD71;
  font-weight: 600;
}
.header-profil_edit .edit-button {
  background-color: transparent;
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 50px;
  color: #244B30;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}
.header-profil_edit .edit-button:hover {
  border: 2px solid transparent;
  background-color: rgba(89, 173, 113, 0.5);
  color: #244B30;
}
.header-profil_input {
  display: flex;
}
.header-profil_input input {
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 5px;
  color: #244B30;
  font-weight: lighter;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
}
.header-profil_input button {
  background-color: transparent;
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 50px;
  color: #244B30;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
}
.header-profil_input button:hover {
  border: 2px solid transparent;
  background-color: rgba(89, 173, 113, 0.5);
  color: #244B30;
}

.save-button {
  border: transparent;
  border-radius: 50px;
  background-color: #244B30;
  color: #FFFFFF;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
}
.save-button:hover {
  background-color: #59AD71;
  color: #FFFFFF;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-bloc1,
.input-bloc2 {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.input-bloc1 {
  align-items: flex-end;
}

.input-bloc2 {
  align-items: flex-start;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: -9px 10px 10px rgba(54, 54, 54, 0.1019607843);
  gap: 10px;
  padding: 15px 20px;
  width: 280px;
}

.cards_content {
  display: flex;
  flex-direction: column;
}
.cards_content_title {
  color: #FFFFFF;
  text-align: left;
  margin: 0px;
  font-weight: 500;
}
.cards_content_text {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0px 5px 0px;
}

.icon {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
}
.icon_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 25px;
  width: 25px;
}

.home-page {
  margin: 30px 12%;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 5% 5%;
  height: 400px;
}
.home-page_title {
  display: flex;
  flex-direction: column;
}
.home-page_title h1, .home-page_title h3 {
  color: #0D1117;
  text-align: left;
  margin: 0px;
}
.home-page_title .text-span {
  color: #59AD71;
  font-weight: 500;
}

.home-page_cards {
  position: relative;
  width: 50%;
  background-image: url("../../assets/background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.home-page_cards .cards:nth-child(1) {
  background-color: #59AD71;
  position: absolute;
  right: 0px;
  z-index: 3;
}
.home-page_cards .cards:nth-child(2) {
  background-color: #244B30;
  position: absolute;
  top: 140px;
  right: 80px;
  z-index: 2;
}
.home-page_cards .cards:nth-child(3) {
  background-color: #F7F7F7;
  position: absolute;
  right: 160px;
  top: 270px;
  z-index: 1;
}
.home-page_cards .cards:nth-child(3) .cards_content_title, .home-page_cards .cards:nth-child(3) .cards_content_text {
  color: #244B30;
}
.home-page_cards .cards:nth-child(3) .icon {
  background-color: rgba(89, 173, 113, 0.3);
}

.home-page_title h3 {
  font-weight: lighter;
  margin-top: 20px;
}

@media (min-width: 1700px) {
  .home-page {
    margin: 30px 15%;
  }
}
.signin-page {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 60px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #FFFFFF;
  width: 440px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}
.signin-page_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.signin-page_content h1, .signin-page_content h3 {
  color: #0D1117;
  text-align: left;
  margin: 7px 0px;
}
.signin-page_content h3 {
  font-weight: 400;
}
.signin-page_content .text-span-signin {
  color: #59AD71;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form .input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
form .input-wrapper label {
  font-weight: 500;
  margin-bottom: 8px;
}
form .input-wrapper input {
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 5px;
  color: #244B30;
  font-weight: lighter;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
}

.input-remember label {
  margin-left: 0.25rem;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-weight: 500;
}

.sign-in-button {
  border: transparent;
  border-radius: 50px;
  background-color: #244B30;
  color: #FFFFFF;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-top: 40px;
}
.sign-in-button:hover {
  background-color: #59AD71;
  color: #FFFFFF;
}

/*
@media (min-width: 1700px) {
    .signin {
        margin: 0px 15%;
    }
}*/
.user-page {
  padding: 0px 12%;
  background-color: #DDE2EA;
}

@media (min-width: 1700px) {
  .user-page {
    padding: 20px 15%;
  }
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 12%;
}
.error-page_title {
  text-align: center;
}
.error-page_title h3 {
  margin-top: 0px;
}
.error-page_button {
  text-decoration: none;
  background-color: transparent;
  border: 2px solid rgba(36, 75, 48, 0.3);
  border-radius: 50px;
  color: #244B30;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
}
.error-page_button:hover {
  border: 2px solid transparent;
  background-color: rgba(89, 173, 113, 0.5);
  color: #244B30;
}

@media (min-width: 1700px) {
  .error-page {
    margin: 30px 15%;
  }
}/*# sourceMappingURL=index.css.map */