@import "./variables";


@mixin buttonfull {
    border: transparent;
    border-radius: 5px;
    background-color: $blue;
    color: white;
    font-weight:lighter;
    padding: 10px;
    font-size: 1.1rem;
}

@mixin buttonempty {
    border: 1px solid rgba(84, 87, 236, 0.5);
    border-radius: 5px;
    background-color: white;
    color: $blue;
    font-weight:lighter;
    padding: 10px;
    font-size: 1.1rem;
}